@import '../../../config/styles/style-variables.scss';

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #282c34;
  height: 53px;
  z-index: 999999;

  li {
    a {
      transition: color 0.2s ease-in-out;
      &:hover:not(.book-a-car-link) {
        color: $orange-400;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }

.book-a-car-link {
  width: 100%;
}

.header-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-logo {
    width: 100px;
    max-height: 43px;
    margin-right: 10px;
  }
}

.dropdown-menu {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#414753;
    border: none;
    width: 30px;
    height:30px;
    border-radius: 5px;
    cursor: pointer;
  }

  .dropdown-menu-open-icon {
    height: 20px;
  }

  .dropdown-menu-close-icon{
    height: 30px;
  }

  &-list, &-list-active {
    margin: 0;
    list-style-type: none;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    background: #282c34;
    right: 0;
    top: 50px;
    max-height: 0;
    transition: all 0.2s ease-in-out;
    overflow:hidden;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0!important;
      min-height: 40px;
    }
  }

  &-list-active {
    padding-bottom: 10px;
    max-height: 208px;
    transition: max-height 0.2s ease-in-out;
  }
}
}

.header-navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  .navigation-item {
    display: flex;
    height: 53px;
    width: 130px;

    &:not(:last-child) {
      justify-content: flex-start;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 80px;
  }
}

.navigation-book-a-car {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px!important;
  width: 65%;
  background-color: $orange-400;
  border-radius: 5px;
  transition: 0.2s ease-in-out;

  &:hover{
    transition: 0.2s ease-in-out;
    background-color: $orange-500;
  }
}