@import '../../../config/styles/style-variables.scss';

.booking-container {
  width: $pageWidth;
  margin: 25px auto;
}

.booking-form-wrapper {
  margin-top: 50px;

  #booking-form {
    display: flex;
    flex-direction: column;
  }
}
