@import "../../../config/styles/style-variables.scss";

.car-info-form-wrapper {
  margin: 50px auto 50px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: $gray-transparent-600;



  .car-info-form-cover {
    text-align: center;
    h3 {
      margin: 10px 0;
    }
  }

  .date-range-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    gap: 10px;

    input {
      position: relative;
      width: 100%;
      height: 45px;
      padding: 0 10px;
      margin-bottom: 25px;
      background-color: $gray-transparent-400;
      outline: 0;
      border: 0;
      border-left: 2px solid $orange-400;
      display: block;
    }
  }

  .car-info-form-details-wrapper {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .car-info-form-details {
      padding: 15px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, 0.336);
      font-size: 0.87rem;

      span {
        color: $orange-400;
        font-weight: 600;
      }
    }
  }

}

