@import '../../../config/styles/style-variables.scss';

.booking-container {
  width: $pageWidth;
  margin: 25px auto;

  @media (min-width: 1440px) {
    width: $bookingPageWidth1440px;
  }

  @media (min-width: 2560px){
    width: $bookingPageWidth2560px;
  }
}

.booking-form-wrapper {
  margin-top: 30px;

  .rental-information {
    display: flex;
    flex-direction: column;
  }

  #booking-form {
    display: flex;
    flex-direction: column;
  }

  textarea {
    margin: 30px 0;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 0 10px;
    margin-bottom: 25px;
    background-color: $gray-transparent-400;
    outline: 0;
    border: 0;
    border-left: 2px solid $orange-400;
    display: block;
    resize: none;
    padding: 10px 15px 0 15px;
    font-family:'Segoe UI', 'mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .checkbox-container {

    .checkbox-wrapper {
      margin: 20px 0;
      width: 100%;
      max-width: 500px;
      height: 60px;
      background-color: $gray-transparent-400;
      display: flex;
      align-items: center;
      .checkbox-label {
        width: 100%;
        height: 100%;
      }
      label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }

      .checkbox-tick {
        cursor: pointer;
        margin-right: 10px;
        height: 30px;
        filter: brightness(0) saturate(100%) invert(40%) sepia(11%) saturate(263%) hue-rotate(190deg) brightness(97%) contrast(86%);
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        margin: 0;
      }

      input[type="checkbox"]:checked + .checkbox-label .checkbox-tick {
        filter: none;
      }
      a {
        display: inline-block;
        color: $orange-400;
        cursor: pointer;
      }
    }
  }

  .required {
    color: $orange-400;
  }

  .submit-form-button {
    margin: 30px auto;
    width: 200px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid $orange-400;
    font-size: 1.1rem;
    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: $orange-400;
      transition: all 0.1s linear;
    }
  }

  .error-message {
    color: $red-100;
  }
}

@media (min-width: 1024px) {
  .booking-form-wrapper {
    .rental-information {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}