@import '../../../config/styles/style-variables.scss';
.booking-form-payment-method-wrapper {
  margin: 20px 0 50px;

.radio-container {
  margin-bottom: 40px;

  .radio-wrapper {
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: $gray-transparent-400;
    display: flex;

    label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      cursor: pointer;
    }

    .radio-tick-icon {
      height: 20px;
      filter: brightness(0) saturate(100%) invert(32%) sepia(45%) saturate(1082%) hue-rotate(339deg) brightness(85%) contrast(89%);
    }

    input[type="radio"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
    }

    input[type="radio"]:checked + label .radio-tick-icon {
      filter: none;
    }
  }

}
.payment-upon-delivery-container {
  width: $pageWidth;

  .payment-upon-delivery-wrapper {
    max-width: 360px;
    background-color: $gray-transparent-400;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .payment-upon-delivery-icon {
    img {
      height: 60px;
      margin: 10px 30px 10px 10px;
    }
  }
  }
}

@media (min-width: 1024px) {
  .radio-container {
    display: flex;
    gap: 25px;
  }
  .online-payment-form {
    display: flex;
    width: 100%;
    max-width: 95%;
    //
    // Tu pokomibonować trzeba bo coś nie działa jak powinno
    //
    display: flex;
    justify-content: space-between;
    .input-wrapper {
      width: calc(33.33% - 15px);
      margin-right: 15px;
    }
  }
}