@import '../../../config/styles/style-variables.scss';
.booking-form-payment-method-wrapper {
  margin: 20px 0 50px;

  .radio-container {
    margin-bottom: 40px;

    .radio-wrapper {
      margin: 20px 0;
      width: 100%;
      max-width: 400px;
      height: 50px;
      background-color: $gray-transparent-400;
      display: flex;

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        cursor: pointer;
      }

      .radio-tick-icon {
        height: 20px;
        filter: brightness(0) saturate(100%) invert(40%) sepia(11%) saturate(263%) hue-rotate(190deg) brightness(97%) contrast(86%);
      }

      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
      }

      input[type="radio"]:checked + label .radio-tick-icon {
        filter: none;
      }
    }
  }

  .online-payment-form {
    margin: 0;
    input {
      max-width: 400px;

    }
  }

  .payment-upon-delivery-container {
    width: $pageWidth;

    .payment-upon-delivery-wrapper {
      max-width: 400px;
      background-color: $gray-transparent-400;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .payment-upon-delivery-icon {
      img {
        height: 60px;
        margin: 10px 30px 10px 10px;
      }
    }

    @media (min-width: 1440px) {
      width: $bookingPageWidth1440px;
    }

    @media (min-width: 2560px){
      width: $bookingPageWidth2560px;
    }

  }
}

@media (min-width: 1024px) {
  .radio-container {
    display: flex;
    gap: 25px;
  }

  .online-payment-form {
    display: flex;
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 20px;

    .input-wrapper {
      width: calc(33.33% - 15px);
      max-width: 400px;
      margin: 0;
    }
  }
}