@import '../../../config/styles/style-variables.scss';

.booking-form {
  margin: 50px auto;
  max-width: 750px;

  background-color: $gray-transparent-400;
  padding: 25px;
  border-radius: 20px;

  .booking-form-and-contact-info-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  form {
    width: 100%;
    height: 100%;


    @media (min-width: 873px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .booking-form-wrapper {
        width: 70%;
      }
    }
  }

  .contact-info-container {
    display: none;

    @media (min-width: 873px) {
    padding-top: 10px;
    width: 25%;
    margin-inline: auto;
    text-align: center;
    background-color: $gray-transparent-600;
    border-bottom: 2px solid $orange-400;
    display: flex;
    justify-content: center;
    align-items:center;

    h4 {
      margin-bottom: 15px;
    }

    .contact-info-text {
      padding: 20px;

      p {
        font-size: 0.9rem;
      }
    }
    }
  }

  &-info {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }

  &-input {
    display: flex;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    input {
      padding: 10px;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 40px;
      width: 100%;
      background-color: $gray-transparent-600;
      outline: 0;
      border: none;
      border-bottom: 2px solid $orange-400;
    }

    textarea {
      padding-top: 5px;
      padding-left: 10px;
      background-color: $gray-transparent-600;
      outline: 0;
      border: none;
      border-bottom: 2px solid $orange-400;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 150px;
      max-height: 150px;
      resize: none;
    }
  }

  input:focus {
    background-color: $gray-transparent-800;
  }

  textarea:focus {
    background-color: $gray-transparent-800;
  }

  .submit-button-container {
    margin: auto;
    text-align: center;
    margin-top:25px;
    .submit-button {
      display: inline-block;
      border-radius: 4px;
      background-color: $orange-400;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 12px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
          content: '»';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -15px;
          transition: 0.5s;
        }
      }

      &:hover span {
        padding-right: 15px;
      }

      &:hover span:after {
        opacity: 1;
        right: 0;
      }
      @media (min-width: 2000px) {
        width: 600px;
      }
    }
  }


}