@import '../../../config/styles/style-variables.scss';

.contact-us-info {
  margin: 25px 0;

  a {
    position: relative;
    padding-bottom: 5px;
    color: $orange-400;
  }

  a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $orange-400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}
