@import '../../../config/styles/style-variables.scss';

.photo-gallery-wrapper {
  width: $pageWidth;
  margin: $carOfferMargin;

.photo-gallery-current-photo {
  display: flex;
  position: relative;
  height: 188px;
  background-color: #000;
  margin-bottom: 4px;

  img {
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 426px) {
    height: 100%;
  }

  .gallery-next-button, .gallery-previous-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: $gray-transparent-600;
    transform: translate(0, -50%);
    img {
      width: 10px;
      height: 10px;
    }
  }
}
  .gallery-next-button {
    right: 10px;
  }

  .gallery-previous-button {
    left: 10px;
  }

  .photo-gallery-reel-photo{
    width: 100%;
    background-color: #000;

    img {
      object-fit: cover;
      height: 100%;
    }
    .active-photo {
      opacity: 0.25;
    }
  }

  .photo-gallery-reel {
    display: flex;
    gap:4px;
  }
}

@media (min-width: 1024px) {

  .photo-gallery-wrapper{
    margin: 0;
    width: 480px;
    height: 100%;
    overflow: hidden;

    .photo-gallery-current-photo {
      height: 390px;
    }
  }
}

@media (min-width: 1440px) {

  .photo-gallery-wrapper{
    width: 680px;

    .photo-gallery-current-photo {
      .gallery-next-button, .gallery-previous-button {
        width: 37px;
        height: 37px;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media (min-width: 1854px) {

  .photo-gallery-wrapper{
    width: 880px;
    .photo-gallery-current-photo {
      .gallery-next-button, .gallery-previous-button {
        width: 47px;
        height: 47px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .photo-gallery-reel-photo {
    height: 130px;  }
}

@media (min-width: 1854px) {
  .photo-gallery-wrapper{
    width: 900px;
  }

  .photo-gallery-current-photo {
    .porsche-panamera-turbo-s {
      object-position: 0 -100px;
    }
  }

  .photo-gallery-reel-photo {
    height: 130px;
  }
}