
@import '../../../config/styles/style-variables.scss';

main {
  width: 100vw;
}
.home-page {
  &-title {
  position: relative;
  margin:0;
  display: flex;
  justify-content: center;
  height: 100%;

  &-photo-wrapper {
    overflow: hidden;
    max-width: 100vw;
  }

  &-photos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 366px;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(black, 80%, transparent);
    mask-image: linear-gradient(black, 80%, transparent);

  }
  .slideshow {
    position: relative;
    width: 100vw;
    height: 470px;

  }

  .active {
    opacity: 1;
  }

  .porsche-panamera-turbo-s {
    object-position: -230px 0;
    width: 800px;
  }
  .bmw-m4-coupe {
    width:800px;
    transform: scaleX(-1);
    object-position: 230px;

  }

  .mercedes-c63-amg {
    object-position: -350px;
    width: 800px;
  }


  &-text-container{
    position: absolute;
    top: 290px;
    width: $pageWidth;
    // z-index: 1;
    color: white;
    text-align:justify;
    &-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

      h2 {
        text-align: center;
        margin-bottom: 10px;
      }
    }

    @media (min-width: 472px) {
      .slideshow {
        height: 430px;
      }

      .porsche-panamera-turbo-s {
        object-position: -200px 0;
      }
      .bmw-m4-coupe {
        object-position: 170px 0;
      }
      .mercedes-c63-amg {
        object-position: -260px 0;
      }

    @media (min-width: 564px) {
      .slideshow {
        height: 410px;
      }

      .porsche-panamera-turbo-s {
        object-position: -100px 0;
      }

      .bmw-m4-coupe {
        object-position: 70px 0;
      }

      .mercedes-c63-amg {
        object-position: -160px 0;
      }
    }

    @media (min-width: 664px) {
      .slideshow {
        height: 400px;
      }

      .porsche-panamera-turbo-s {
        object-position: 0 0;
      }

      .bmw-m4-coupe {
        object-position: 0 0;
      }

      .mercedes-c63-amg {
        object-position: -40px 0;
      }
    }

    @media (min-width: 784px) {

      flex-direction: row;
      justify-content: flex-start;
      &-photos {
        height: 500px;
      }

      &-text-container {
        display: flex;
        align-items: center;
        padding: 25px;
        top: 0px;
        height: 500px;
        background-color:rgba(0, 0, 0, 0.836);
        clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
        -webkit-mask-image: linear-gradient(black, 80%, transparent);
        mask-image: linear-gradient(black, 80%, transparent);

        .home-page-title-text-wrapper{
          width: 60%;
        }
      }

      .slideshow {
        height: 500px;
      }

      .porsche-panamera-turbo-s {
        width: 1200px;
        object-position: -100px 0;
      }

      .bmw-m4-coupe {
        width: 1200px;
        object-position: 150px 0;
      }

      .mercedes-c63-amg {
        width: 1300px;
        object-position: -250px 0;
      }
    }

    @media (min-width: 1046px) {
      &-photos {
        height: 850px;

      }
      &-text-container {
        padding: 50px;
        height: 850px;
        h2 {
          font-size: 3rem;
          margin-bottom: 50px;
        }
        p {
          font-size: 1.1rem;
          line-height: 27px;
        }
      }
      .slideshow {
        height: 900px;
      }

      .porsche-panamera-turbo-s {
        width: 1200px;
        object-position: -100px 0;
      }

      .bmw-m4-coupe {
        width: 1200px;
        object-position: -300px 0;
      }

      .mercedes-c63-amg {
        width: 1300px;
        object-position: -525px 0;
      }
    }

    @media (min-width: 1201px) {

      .porsche-panamera-turbo-s {
        width: 1400px;
        object-position: 0 0;
      }

      .bmw-m4-coupe {
        width: 1400px;
        object-position: -150px 0;
      }

      .mercedes-c63-amg {
        width: 1400px;
        object-position: -300px 0;
      }
    }

    @media (min-width: 1401px) {

      &-text-container {
        clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
      }

      .home-page-title-text-wrapper{
        width: 40%;
      }

      .porsche-panamera-turbo-s {
        width: 1920px;
        object-position: 0 0;
      }

      .bmw-m4-coupe {
        width: 1920px;
        object-position: 0 0;
      }

      .mercedes-c63-amg {
        width: 1920px;
        object-position: -0 0;
      }
    }

    @media (min-width: 1921px) {

      .porsche-panamera-turbo-s {
        width: 2624px;
      }

      .bmw-m4-coupe {
        width: 2624px;
        object-position: 0 0;
      }

      .mercedes-c63-amg {
        width: 2624px;
        object-position: 0 0;
      }
    }
    }
  }

  #home-page-why-us-section{
    color: white;

    .home-page-why-us-separator {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin: auto;
        width: $pageWidth;
        display: flex;
        margin: 25px 0;
        align-items: center;
      }

      .vertical-line {
        height: 3rem;
        width: 5px;
        margin-right: 10px;
        object-fit:cover
      }

      @media (min-width: 1046px) {
        .vertical-line {
          height: 4rem;
        }
        h2 {
          font-size: 2rem;
        }
      }
    }

    .home-page-info-panels-container {
      display: grid;
      grid-template-columns: repeat(1, 3fr);
      width: $pageWidth;
      margin: auto;

      span {
        display: flex;
        align-items: center;
      }

      .home-page-info-panel {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 170px;
        background-color: $gray-transparent-400;
        text-align: justify;
        padding: 0 25px;
        margin-bottom: 25px;
        h2 {
          font-size: 1.3rem;
          margin: 20px 0
        }
      }

      .panel-tick-icon {
        height: 30px;
        margin-right: 10px;
      }


      @media (min-width: 389px){
        .home-page-info-panel {
          width: 330px;
          height: 150px;
        }
      }

      @media (min-width: 842px){
        grid-template-columns: repeat(2, 1fr);
        #panel-2 {
          justify-self: end;
        }
      }

      @media (min-width: 1024px) {
        .home-page-info-panel {
          width: 400px;
        }
      }

      @media (min-width: 1261px){
        grid-template-columns: repeat(3, 1fr);
        #panel-2 {
          justify-self: center;
        }
        #panel-3 {
          justify-self: end;
        }
        .home-page-info-panel {
          width: 330px;
        }
      }

      @media (min-width: 1624px){
        .home-page-info-panel {
          width: 450px;
        }
      }
      @media (min-width: 1800px) {
        .home-page-info-panel {
          width: 500px;
        }
      }
      @media (min-width: 2291px) {
        .home-page-info-panel {
          width: 650px;
        }
      }
    }
  }

  #home-page-newest-offers-section{
    margin: auto;
    width: $pageWidth;
    color: white;

    .home-page-newest-offers-title {
      margin: 50px 0;

      span {
        display: flex;
        align-items: center;

        .vertical-line {
          height: 3rem;
          width: 5px;
          margin-right: 10px;
          object-fit:cover
        }

        h3 {
          font-size: 1.5rem;
        }

        @media (min-width: 1046px) {
          .vertical-line {
            height: 4rem;
          }
          h3 {
            font-size: 2rem;
          }
        }
      }
    }

    .all-offers-container {
      text-align: center;
      .show-all-offers-button {
        display: inline-block;
        border-radius: 4px;
        background-color: $orange-400;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 17px;
        padding: 16px;
        width: 270px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;

          &:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -15px;
            transition: 0.5s;
          }
        }

        &:hover span {
          padding-right: 15px;
        }

        &:hover span:after {
          opacity: 1;
          right: 0;
        }
        @media (min-width: 2000px) {
          width: 600px;
        }
      }
    }
  }

  #location-section {
    .home-page-location-container {
      width: $pageWidth;
      margin: auto;
      color: white;
      .home-page-location-title {
        margin: 50px 0;

        span {
          display: flex;
          align-items: center;

          .vertical-line {
            height: 3rem;
            width: 5px;
            margin-right: 10px;
            object-fit:cover
          }

          h3 {
            font-size: 1.5rem;
          }

          @media (min-width: 1046px) {
            .vertical-line {
              height: 4rem;
            }
            h3 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}