// White color

$white: #fff;

// Dark blue

$dark-blue-600: #282c34;
$dark-blue-800: #1c1e24;

// Panels colors

$gray-transparent-400: #5559629d;
$gray-transparent-600: #35373d9d;
$gray-transparent-800: #2223279d;

// Red

$red-100: #f82036;
$red-200: #c21525;

// Orange

$orange-400: #FF7B00;
$orange-500: #D45800;
$orange-700: #AA3500;

// Green

$green-100: #57ca25;
$green-200: #44a01c;

// Brown accent

$brown-accent-400: #887456;
$brown-accent-500: #7F7059;

// Page width

$pageWidth: 86vw;

// Car offer margins

$carOfferMargin: 30px 0;

// Autofill font color

$autoFillBackgroundColor: #3F434A