
// Dark blue

$dark-blue-600: #282c34;
$dark-blue-800: #1c1e24;

// Panels colors

$gray-transparent: #5559629d;

// Orange

$orange-400: #FF7B00;
$orange-500: #D45800;
$orange-700: #AA3500;

// Brown accent

$brown-accent-400: #887456;
$brown-accent-500: #7F7059;

// Page width

$page-width: 86vw;