@import '../../../config/styles/style-variables.scss';

.offer-wrapper {
  width: $pageWidth;
  background-color: $gray-transparent-400;
  border-top: 4px solid $orange-400;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 50px;

  .offer-hover-photo {
    display: none;
  }

  .offer-horizontal-line {
    margin: 10px 0;
    height: 2px;
    width: 80px;
    border: 0;
    background-color: $orange-400;
  }

  img {
    padding: 0;
    width: 100%;
  }

  .offer-additional-equipment {
    padding: 5px 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    height: 25px;
    padding: 5px;
    margin: 7px 0;
    border-left: 2px solid $orange-400;
  }

  .offer-rental-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rental-price {
    padding-top:5px;
    text-align: center;
    .price {
      color: $orange-400;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  a {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    vertical-align: middle;
    width: 100%;
    margin: auto;
  }
  .offer-more-info {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: transparent;
    height: 50px;
    border: 1px solid $orange-400;
    transition: all 0.1s linear;


    &:hover {
      background-color: $orange-400;
      transition: all 0.1s linear;
    }


  }

  .offer-book {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: transparent;
    height: 50px;
    border: 1px solid $orange-400;
    transition: all 0.1s linear;


    &:hover {
      background-color: $orange-400;
      transition: all 0.1s linear;
    }

    a {
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      vertical-align: middle;
    }
  }
}

@media (min-width:1024px) {

    .offer-wrapper {
      display: flex;
      justify-content: space-between;
       &:hover {
        .offer-hover-photo {
          opacity: 100;
          transition: 0.25s linear;
        }
       }
      .offer-image {
        width: 30%;
        height: 225px;
        position: relative;
      }
      img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        // object-position: 0 60%;
      }

      .offer-hover-photo {
        display:inline-block;
        position: absolute;
        z-index: 2;
        left: 0;
        opacity: 0;
        transition: 0.25s linear;
      }

      .offer-additional-equipment {
        width: 45%;
        height: 225px;
      }
      li {
        width: 112px;
      }
    }

    .offer-rental-info {
      width: 30%;
    }
}

@media (min-width:1235px) {
  .offer-wrapper {
    li {
       width: 130px;
    }
  }
}

@media (min-width: 1408px) {
    .offer-wrapper {

      .offer-additional-equipment {
        width: 45%;
        height: 225px;
      }
      h2 {
        font-size: 1.8rem;
      }
      li {
        width: 160px;
        font-size: 1rem;
      }
    }
  }

@media (min-width: 1800px) {
    .offer-wrapper {

      img {
        object-position: 0 65%;
      }
    }
  }